{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anuj Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'myportfolio/css/style.css' %}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar">
    <a href="{% url 'home' %}" class="logo">ANUJ</a>
    <ul>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'skills' %}">Skills</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>

{% block content %}{% endblock %}

<script src="{% static 'myportfolio/js/main.js' %}"></script>
</body>
</html>
