{% extends 'myportfolio/base.html' %}
{% load static %}

{% block content %}

<section class="skills">
    <h2 class="section-title">Technical Skills</h2>

    <div class="skill">
        <span>Python</span>
        <div class="progress">
            <div class="progress-bar" data-width="90%"></div>
        </div>
    </div>

    <div class="skill">
        <span>FastAPI</span>
        <div class="progress">
            <div class="progress-bar" data-width="85%"></div>
        </div>
    </div>

    <div class="skill">
        <span>Automation</span>
        <div class="progress">
            <div class="progress-bar" data-width="80%"></div>
        </div>
    </div>

    <div class="skill">
        <span>AI / ML</span>
        <div class="progress">
            <div class="progress-bar" data-width="75%"></div>
        </div>
    </div>

</section>

{% endblock %}
